body {
    background: url(form2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* #################################### header ######################################### */
header {
    background-color: rgba(255, 255, 255, 0.097);
    backdrop-filter: blur(10px);
}

.logo {
    pointer-events: none !important;
    user-select: none;
}

nav ul li a {
    position: relative;
}

nav ul li a::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    border: 20px;
    background-color: rgb(255, 255, 255);
    left: 0;
    bottom: -6px;
    transform: scale(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scale(1);
    transform-origin: left;
    background-color: rgb(0, 177, 193);
}


nav ul li a:hover {
    color: rgb(0, 234, 255) !important;
}

.btn-login {
    outline: none;
    background: none;
    border: 1px solid white;
    width: 100px;
    border-radius: 8px;
}

.btn-login:hover {
    background-color: rgb(0, 177, 193);
    border: 1px solid rgb(0, 177, 193);
}

/* #################################### header ######################################### */

/* ############################ section ####################################### */
.wapper {
    width: 600px;
    height: 350px;
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(0, 234, 255);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transform: scale(0);
    transition: .7s ease;
}

.wapper.active-pop {
    transform: scale(1);
    transition: .7s ease;
}

.wapper .bg-animation {
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 177, 193, 0.485);
    border-bottom: 1px solid rgb(0, 234, 255);
    height: 400px;
    width: 650px;
    transform: rotate(5deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.2s ease;
    transition-delay: .9s;
}

.wapper .bg-animation2 {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 177, 193, 0.485);
    border-bottom: 1px solid rgb(0, 234, 255);
    height: 600px;
    width: 850px;
    transform: rotate(0) skewY(0);
    transform-origin: left top;
    transition: 1.3s ease;
    transition-delay: .3s;
}

.login-form {
    width: 50%;
    height: 100%;
}

.login {
    position: absolute;
    width: 45%;
    height: 100%;
    filter: blur(0px);
    transition: .7s ease;
    transition-delay: 1.3s;
}

.login-form-text {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    filter: blur(0px);
    transition: .7s ease;
    transition-delay: 1.3s;
}

.input-box {
    position: relative;
}

.input-box input {
    position: relative;
    width: 100%;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    background-color: transparent;
    padding: 3px;
    outline: none;
    font-size: 17px;
}

.input-box label {
    position: absolute;
    left: 0;
    top: 5px;
    padding-left: 13px;
    color: white;
    font-size: 15px;
    transition: transform .4s ease;
}

.icons {
    position: absolute;
    color: white;
    right: 0;
    top: 5px;
    padding-right: 10px;
}

.icons i{
    font-size: 13px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -23px;
    transition: top .4s ease;
    color: rgb(0, 234, 255);
}

.input-box input:focus {
    border: 3px solid rgb(0, 234, 255);
}

.remember-forget label,a{
    font-size: 14px;
}

.remember-forget label input {
    accent-color: rgba(0, 177, 193, 0.485);
}


.login-btn button {
    width: 100%;
    height: 40px;
    border-radius: 30px;
    font-size: 21px;
    border: none;
}

.login-btn button:hover {
    background-color: rgb(0, 234, 255);
    transition: .7s;
}



.btn-register {
    width: 90px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.btn-register:hover {
    background-color: rgb(0, 234, 255);
    transition: .5s;
}

.remember-forget a:hover {
    text-decoration: underline !important;
}

.register-link p a:hover {
    text-decoration: underline !important;
}

.login-form-text{
    width: 50%;
    right: 0;
    margin-top: 60px;
    margin-right: 10px;
}

#modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 177, 193, 0.485);
    height: 30px;
    width: 35px;
    border-bottom-left-radius: 20px;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#modal-close-btn i{
    font-size: 20px;
}

#modal-close-btn:hover {
    background-color: rgba(0, 234, 255);
    color: black;
    transition: .5s;
}

.register {
    transform: translate(300px, 150px);
    transition: .7s ease;
    filter: blur(10px);

}

.register-form-text {
    transform: translate(-250px, -100px);
    transition: .7s ease;
    filter: blur(10px);
}

.wapper.active {
    height: 400px;
    transition: .7s ease;
}

.wapper.active .login {
    transform: translate(-320px, 150px);
    transition: .7s ease;

    filter: blur(10px);
}

.wapper.active .login-form-text {
    transform: translate(300px, -100px);
    transition: .7s ease;
    filter: blur(10px);
}

.wapper.active .bg-animation {
    transform: rotate(0) skewY(0);
    transition: 1.2s ease;
    transition-delay: .3s;
    opacity: 0;
}

.wapper.active .bg-animation2 {
    opacity: 1;
    transform: rotate(0deg) skewY(-56deg);
    transition: 1.2s ease;
    transition-delay: .9s;
}

.wapper.active .register {
    transform: translate(0, 0);
    transition: .7s ease;
    transition-delay: 1.3s;
    filter: blur(0);
}

.wapper.active .register-form-text {
    transform: translate(0, 0);
    transition: .7s ease;
    transition-delay: 1.3s;
    filter: blur(0);
    left: 0;
    width: 50%;
    margin-top: 60px;
    margin-left: 20px;
}

/* ############################ Register Form ################################### */


.register-form-text {
    position: absolute;
    left: 0;
    height: 100%;
    width: 40%;
}

.register {
    position: absolute;
    width: 45%;
    height: 100%;
    right: 0;
}

